body {
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}
@font-face{
    font-family: SGP;
    src: url(fonts/a-otf-shin-go-pro-m-opentype_ufonts.com.otf);
    font-weight: normal;
}
@font-face{
    font-family: Frutiger;
    src: url(fonts/FrutigerLTStd-Roman.otf);
    font-weight: normal;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes box{
    0% {width: 0; height: 0;}
    50% {width: 70vw; height: 5px;}
    100% {width: 70vw; height: 70vh;}
}
@keyframes flicker{
    0% {opacity: 0;}
    25% {opacity: 0.5;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
.box{
    width: 70vw;
    height: 70vh;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: inset 0 0 1px 1px white, 0 0 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(30deg, rgba(12, 12, 12, 0.75), rgba(249, 249, 249, 0.5));
    animation: box .3s;
}
.container span{
    transform: perspective(20cm) rotateX(0deg) rotateY(0deg) translate(0px, 0px);
    position: fixed;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: flicker .3s;
    animation-delay: .2s;
    animation-fill-mode: both;
}
.logo img{
    width: 50vw;
    filter: drop-shadow(0 0 5px white);
}
.colours{
    width: 2vw;
    height: 2vw;
    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);
    box-shadow: inset 0 0 1px 1px white, 0 0 5px rgba(0, 0, 0, 0.25);
    margin: 20px;
    position: relative;
    top: 0%;
    left: 0%;
    animation: flicker .2s;
    animation-delay: .4s;
    animation-fill-mode: both;
}
.c{
    background: cyan;
}
.m{
    background: magenta;
    left: 3.5%;
}
.y{
    background: yellow;
    left: 7%;
}
.button{
    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);
    box-shadow: inset 0 0 2px 1px lightgray, 0 0 5px rgba(251, 251, 251, 0.25);
    background: linear-gradient(30deg, rgba(77, 77, 77, 0.75), rgba(100, 100, 100, 0.5));
    position: relative;
    top: 90%;
    left: 90.5%;
    display: flex;
    backdrop-filter: blur(10px);
    z-index: 99;
    animation: flicker .3s;
    animation-delay: .3s;
    animation-fill-mode: both;
}
.button a{
    display: flex;
    width: 150px;
    height: 75px;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: .2s;
    font-family: Frutiger;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}
.button a:hover{
    padding: 10px;
    font-size: 2em;
    text-shadow: 0 0 5px lightgray;
}
.update{
    display: flex;
    align-items: flex-end;
    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);
    box-shadow: inset 0 0 1px 1px lightgray, 0 0 5px rgba(251, 251, 251, 0.25);
    background: linear-gradient(30deg, rgba(77, 77, 77, 0.75), rgba(100, 100, 100, 0.5));
    position: relative;
    top: 85%;
    left: -1%;
    z-index: 99;
    padding: 20px;
    backdrop-filter: blur(10px);
    color: white;
    width: 17vw;
    font-size: 1vw;
    font-family: Frutiger;
    animation: flicker .2s;
    animation-delay: .5s;
    animation-fill-mode: both;
}
.update img{
    width: 7vw;
    margin-right: 20px;
}
.update-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.update p{
    margin: 0;
    font-size: 1.5vw;
}
.bg{
    z-index: -9999;
    scale: 1.5;
    filter: blur(50px) brightness(50%);
}
.CG{
    position: relative;
    left: 55vw;
}
.CG img{
    width: 20vw;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    animation: flicker .2s;
    animation-delay: .3s;
    animation-fill-mode: both;
}